

// .main{
//     height: 500px; 
// }
.order_list_panel_left {
    display: inline-block;
    width: 40%;
    height: 300px;
    //text-align: left;
    overflow-y: auto;
    //padding-left: 2%;
   // margin-bottom: 1.5%;
       
}
  .order_view_panel_right{
    display: flex;
    //display: inline-block;
    
    width: 60%;
    height: 600px;
   
    background: #cfe2ff;
    padding: 2%;
    justify-content: center;
       
  }
  .one_order{
   // background-color: lightblue; 
    //padding-right: 2%;
   // padding: 0.5%;
  }
  .btn_div
  {
    position:relative;
   top:90%; 
   left:0%;
   
  }
  .order_view
  {
  position:relative;
  // display: flex;
   top:15%; 
   
   height:60%;
   width:35%;
  text: center;
    margin-bottom: 1.5%;
    background-color:beige;

    position: absolute;
    left: 50%;
  }