


.order_list_panel_left {
    display: inline-block;
    width: 40%;
    height: 600px;
    overflow-y: auto;
    position:static;
}
  .order_view_panel_right{
    display: flex;
    width: 60%;
    height: 600px;
    background: #cfe2ff;
    padding: 2%;
    justify-content: center;
       
  }
  .one_order{
  height: 110px;
  width: 95%;
  position:static;
  padding:1%;
  background-color: green transparent;
  }
  .title_left_div
  {
     //width: 40%;
    height: 5%;
    position:static;
    text-align:center;
  }
  .btn_div
  {
    position:relative;
   top:90%; 
   left:0%;
   
  }
  .order_view
  {
  position:relative;
   top:15%; 
   
   height:60%;
   width:35%;
    margin-bottom: 1.5%;
    background-color:beige;

    position: absolute;
    left: 50%;
  }